<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>Welcome to the Great Number Game!</h4>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    
    <div>        
         <% if (session.number > session.random) { %>        
                <h4><%= "Too high!" %></h4>
         
        <% } else if (session.number < session.random) { %>
            <h4><%= "Too low!" %></h4>
        
        <% } else{ %>
            <h4><%= "You got it!" %></h4>  
                        
        <% } %>          
    </div>
    <form action="/process" method="post">
        <input type="number" name="number">
        <input type="submit">    
    </form>

    
</body>
</html>